<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Note.UI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="/css/bg.png" type="text/css" media="screen" />
</head>

<style>
    body {
        background: url("/img/bg.png") center fixed;
    }

    #navbar {
        position: fixed;
        width: 100%;
        text-align: center;
        top: 0px;
        z-index: 1;

    }
</style>

<body>
    <header>
        <nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark col-12">
            <a class="navbar-brand" asp-area="" asp-controller="Note" asp-action="Index">Emre's Notes</a>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Note" asp-action="Create">Create</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Category" asp-action="ManageCategory">Manage Category</a>
                    </li>
                </ul>
            </div>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </nav>

    </header>
    <div class="p-5">
        <main role="main" class="mb-3">
            @RenderBody()
        </main>
    </div>

    <footer style="background-color:#1f1d1d; z-index: 1; position: fixed; height:3rem;" class="border-top footer text-muted">
        <div style=" vertical-align: middle; line-height: 3rem;" class="container">
            &copy; 2021 - Emre's Notes
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
