@model NoteViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "_IndexLayout";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<form>
    <div class="row">

        @foreach (var item in Model.noteCards)
        {
            <div class="col-md-4 mb-5 mt-2">

                <div class="card border-secondary" style=" height:10rem; max-width: 25rem;">
                    <div class="card-header" style="background-color: #292b2c; color: #f0ad4e; text-align: center;">
                        @item.NoteHeader <button asp-action="delete" asp-route-Id="@item.Id" type="submit" style="float:right;" class="btn btn-danger btn-sm"></button>
                        <button asp-action="update" asp-route-Id="@item.Id" type="submit" style="float:right; margin-right:3px;" class="btn btn-success btn-sm"></button>
                    </div>

                    <img class="card-img-top" src="/write.png" />


                    <button asp-controller="Note" asp-action="Detail" asp-route-Id="@item.Id" type="submit" class="btn btn-warning" style="color:white; border-radius: 0px;"><i class="far fa-clipboard"></i> <strong>Read</strong></button>
                </div>
            </div>
        }

    </div>
</form>

